@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Tsukimi+Rounded:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
}

header {
    display: flex;
    top: 0;
    flex-direction: row;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    z-index: 1;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid black;
    color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header.shrink {
    height: 100px;
    line-height: 80px;
}


.header-left {
    margin-left: 3%;
}

.header-left img {
    width: 250px;
    height: 75px;
    margin-top: 10px;

    object-fit: contain;
}

.header-left p {
    color: #000000;
    width: 100%;
    font-size: calc(0.75*(1vh + 1vw));
    margin-top: 20px;
    font-family: 'Josefin Sans';
}



.header-right #btn-right a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: calc(0.8*(1vh + 1vw));
    background-color: #007663;
    padding: 10px 50px;
    width: 50%;
    margin-top: 10px;
    font-weight: 400;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}


.header-right .burger {
    right: 5%;
    display: block;
    width: 40px;
    height: 35px;
    margin-top: 35px;
}

nav {
    display: flex;
    flex-direction: row;
    /* position: -webkit-sticky; */
    position: fixed;
    /* width: 30%;
    height: 15%; */
    top: 13%;
    right: 0;
    /* background: #fdf9f9; */
    color: #fff;
    justify-content: center;
    align-items: center;
    /* -webkit-tap-highlight-color: rgba(0,0,0,0);
	border-bottom: 1px solid #4a1d1d;	 */
}

a {
    text-decoration: none !important;
    color: #232323;
    font-weight: 500;
    transition: color 0.3s ease;
    z-index: 2;
}

a:hover {
    color: #2e85cc;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#menuToggle {
    display: block;
    position: absolute;
    top: 40%;
    right: 10%;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    -webkit-touch-callout: none;
    z-index: 2;
    color: #000000;
}

#menuToggle span {
    display: block;
    width: 37px;
    height: 4px;
    margin-bottom: 7px;
    position: relative;
    background: #070707;
    border-radius: 3px;
    z-index: 2;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
     background :0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s ease;
    z-index: 2;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #000000;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 450px;
    height: 110vh;
    margin: -100px 0 0 0;
    aspect-ratio: 3/5;
    padding: 50px;
    padding-top: 150px;
    right: -100px;
    background-color: #fff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 1;
}

#menu li {
    padding: 5% 15%;
    font-size: 18px;
    letter-spacing: 1.5;
}

#menuToggle input:checked~ul {
    transform: scale(1, 1);
    opacity: 1;
}

#menuToggle {
    cursor: pointer;
}

@media screen and (max-width: 1030px) {

    header {
        height: 80px;
    }

    .header-left img {
        width: 200px;
        height: 60px;
    }

    .header-right .burger {
        margin-top: 25px;
    }

}

@media screen and (max-width: 600px) {
    .header-left img {
        width: 150px;
        height: 40px;
    }

    header {
        height: 65px;
    }

    .header-right .burger {
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .header-left img {
        width: 125px;
        height: 35px;
    }

}